@font-face {
    font-family: B-NAZANIN;
    src: url(../assets/fonts/B-NAZANIN.TTF);
}

*{
    direction: rtl;
}

body {
    font-family: B-NAZANIN;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    border: #333 solid 1px;
}

.head_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
    margin-bottom: 20px;
    margin-left: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 200px;
}

.submit-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .container {
        max-width: 300px;
    }
}